<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */

use Michelf\Markdown;
?>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <?= $this->task['name'] ?><small>(<?= $this->task['id'] ?>)</small>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted"><?= $this->task['created_at'] ?> (UTC)</h6>
        <? if ($this->task['description'] != null) { ?>
            <p class="card-text">
                <?= Markdown::defaultTransform($this->task['description']) ?>
            </p>
        <? } ?>
        <div class="custom-control custom-switch">
            <input
                type="checkbox"
                class="custom-control-input"
                disabled
                <?= $this->task['completed']? 'checked' : null ?>
            >
            <label
                class="custom-control-label"
            >Card is <?= $this->task['completed']? 'complete' : 'pending' ?></label>
        </div>
    </div>
</div>
<hr class="my-2">
<div class="card">
    <div class="card-body">
        <a href="<?= $this->url('tasks') ?>" class="btn btn-primary">Go to list</a>
        <a href="<?= $this->url('task', ['action' => 'update', 'id' => $this->task['id']]) ?>" class="btn btn-warning">Update</a>
        <a href="<?= $this->url('task', ['action' => 'delete', 'id' => $this->task['id']]) ?>" class="btn btn-danger">Delete</a>
        <a href="<?= $this->url('task', ['action' => 'toggle', 'id' => $this->task['id']]) ?>" class="btn btn-info">Toggle</a>
    </div>
</div>