<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 * @var Laminas\Form\Form $form
 * @var Laminas\Form\Element $name
 * @var Laminas\Form\Element $since
 * @var Laminas\Form\Element $to
 */

 use Michelf\Markdown;
?>

<div class="jumbotron">
    <h4 class="display-5">Search a ToDo</h4>
    <?= $this->form()->openTag($form) ?>
        <div class="form-group">
            <? $name = $form->get('name'); ?>
            <label for="id_<?= $name->getName() ?>"><?= $name->getLabel() ?></label>
            <?= $this->formInput(
                $name
                    ->setAttribute('class', 'form-control')
                    ->setAttribute('inputmode', 'text')
            ) ?>
            <? foreach ($name->getMessages() as $err) { ?>
                <small class='form-text text-muted'>ERROR: <?= $err ?></small>
            <? } ?>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a
            class="btn btn-link"
            href="<?= $this->url('tasks', ['action' => 'create']) ?>"
        >Create ToDo</a>
    <?= $this->form()->closeTag($form) ?>
</div>
<hr class="my-5">
<div class="container-md">
    <? while ($this->data->next()) { ?>
        <? $current = $this->data->current() ?>
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="<?= $this->url('task', ['id' => $current['id']]) ?>">
                        (<?= $current['id'] ?>)
                    </a>
                    <?= $current['title'] ?>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted"><?= $current['created_at'] ?> (UTC)</h6>
                <? if ($current['description'] != null) { ?>
                    <p class="card-text">
                        <?= Markdown::defaultTransform($current['description']) ?>
                    </p>
                <? } ?>
                <div class="custom-control custom-switch">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        disabled
                        <?= $current['completed']? 'checked' : null ?>
                    >
                    <label
                        class="custom-control-label"
                    >Card is <?= $current['completed']? 'complete' : 'pending' ?></label>
                </div>
            </div>
        </div>
    <? } ?>
</div>

<nav aria-label="TODOs navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item <?= ($this->page == 1)? 'disabled' : null ?>">
        <a
            class="page-link"
            href="<?= $this->url('tasks') . $this->prevUrl ?>"
        >&laquo;</a>
    </li>
    <? foreach ($this->urlParams as $i => $url) { ?>
        <? $class = ($i == $this->page)? 'active' : null ?>
        <li class="page-item <?= $class ?>">
            <a
                class="page-link"
                href="<?= $this->url('tasks') . $url ?>"
            ><?= $i ?></a>
        </li>
    <? } ?>
    <li class="page-item <?= ($this->page == $this->pages)? 'disabled' : null ?>">
        <a
            class="page-link"
            href="<?= $this->url('tasks') . $this->nextUrl ?>"
        >&raquo;</a>
    </li>
  </ul>
</nav>