<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */

use Michelf\Markdown;
?>

<div class="card">
    <div class="card-body">
        <h2 class="car-title">Are you sure you want <?= $this->task['completed']? 'set as pending' : 'complete' ?> the task (<?= $this->task['id'] ?>)"<?= $this->task['name'] ?>"?</h2>
        <div class="row">
            <form class="col text-center" method="POST">
                <button type="submit" class="btn btn-success">Yes</button>
                <a href="<?= $this->url('task', ['id' => $this->task['id']]) ?>" class="btn btn-danger">No</a>
            </form>
        </div>
    </div>
</div>