<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>

<div class="jumbotron">
<h4 class="display-5">Create a ToDo</h4>
    <?= $this->form()->openTag($form) ?>
        <div class="form-group">
            <? $name = $form->get('name') ?>
            <label for="id_<?= $name->getName() ?>"><?= $name->getLabel() ?></label>
            <?= $this->formElement(
                $name
                    ->setAttribute('class', 'form-control')
                    ->setAttribute('inputmode', 'text')
            ) ?>
            <? foreach ($name->getMessages() as $err) { ?>
                <small class='form-text text-muted'>ERROR: <?= $err ?></small>
            <? } ?>
        </div>
        <div class="form-group">
            <? $description = $form->get('description') ?>
            <label for="id_<?= $description->getName() ?>"><?= $description->getLabel() ?></label>
            <?= $this->formElement(
                $description
                    ->setAttribute('class', 'form-control')
                    ->setAttribute('rows', '6')
            ) ?>
            <small class='form-text text-muted'>NOTE: This input will be rendered with <code>Markdown</code></small>
            <? foreach ($description->getMessages() as $err) { ?>
                <small class='form-text text-muted'>ERROR: <?= $err ?></small>
            <? } ?>
        </div>
        <div class="form-group">
            <? $completed = $form->get('completed') ?>
            <?= $this->formElement($completed) ?>
            &ensp;
            <label for="id_<?= $completed->getName() ?>"><?= $completed->getLabel() ?></label>
            <? foreach ($completed->getMessages() as $err) { ?>
                <small class='form-text text-muted'>ERROR: <?= $err ?></small>
            <? } ?>
        </div>
        <div class="form-group">
            <?= $this->formElement($form->get('security')) ?>
            <? foreach ($form->get('security')->getMessages() as $err) { ?>
                <small class='form-text text-muted'>ERROR: <?= $err ?></small>
            <? } ?>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    <?= $this->form()->closeTag($form) ?>
</div>