<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>
<div class="jumbotron">
    <h1 class="display-3">Welcome to <b>TODOs App</b></h1>
    <p>A simple ToDo application written in <a href="https://php.net" target="_blank"><b><code>PHP</code></b></a> with <a href="https://getlaminas.org" target="_blank"><code>Laminas</code></a> and <a href="https://https://www.sqlite.org" target="_blank"><code>Sqlite</code></a>.</p>
    <hr class="my-4">

    <div class="row">
        <div class="col-sm">Database version: <code>SQLite <?= $this->dbVersion ?></code></div>
        <div class="col-sm">PHP version: <code>PHP <?= $this->phpVersion ?></code></div>
        <div class="col-sm">Laminas version: <code>Laminas <?= $this->laminasVersion ?></code></div>
    </div>
    <br>
    <p>ToDos status: <code><?= $this->todoSummary['complete'] ?>/<?= $this->todoSummary['total'] ?></code></p>
    <? if ($this->todoSummary['total'] > 0) { ?>
        <? $progress = ($this->todoSummary['complete'] / $this->todoSummary['total']) * 100; ?>
        <div class="progress">
            <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: <?= $progress ?>%;"
                aria-valuenow="<?= $progress ?>"
                aria-valuemin="0"
                aria-valuemax="100"
            >
                <?= round($progress, 2) ?>%
            </div>
        </div>
    <? } ?>
    <hr class="my-4">

    <a
        class="btn btn-primary btn-lg"
        href="<?= $this->url('tasks', ['action' => 'create']) ?>"
    >
        Start using &raquo;
    </a>
</div>